@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", serif;
}

body {
    background-color: #000;

    ::-webkit-scrollbar {
        width: 12px;
        height: 15px;
      }
      
    ::-webkit-scrollbar-track {
        background: rgb(0, 0, 0);
        border-radius: 10px;
      }
      
    ::-webkit-scrollbar-thumb {
        background-color: #6161616b;
        border-radius: 20px; 
        border: 2px solid #000;
      }
}



header {
    width: 100%;
    height: 100px;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000;
}

.logo {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.logo i {
    color: #9c0000;
    font-size: 3rem;
}

.logo h1 {
    color: #9c0000;
    font-size: 1.5rem;
}

header nav {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
}

header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    color: #fff;
    cursor: pointer;
}

li:hover {
    font-weight: bold;
}

.search-container {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6161616b;
    border-radius: 50px;
    cursor: pointer;
}

.search-container input {
    width: 200px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 25px;
}

.search-container i {
    color: #fff;
}

.menu-icon-container {
    display: none;
}

.menu-mobile {
    display: none;
}

.search-mobile {
    display: none;
}

@media (max-width: 800px) {
    header nav {
        display: none;
    }

    .menu-icon-container {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #9c0000;
        cursor: pointer;
        border: none;
    }

    .menu-icon-container i {
        font-size: 1.5rem;
        color: #fff;
    }

    .menu-mobile {
        width: 100%;
        height: 300px;
        background-color: #9c0000a6;
        justify-content: center;
        align-items: center;
    }

    .menu-mobile ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .open {
        display: flex;
    }
}

@media (max-width: 650px) {
    header {
        padding: 0 2rem;
    }
}

@media (max-width: 500px) {
    header {
        justify-content: flex-end;
        gap: 20px;
    }

    .logo {
        position: absolute;
        left: 20px;
    }
    .search-container {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .search-container input {
        display: none;
    }

    .open-search {
        display: flex;
    }

    .search-mobile {
        width: 100%;
        height: 100px;
        top: 0;
        align-items: center;
        justify-content: center;
        background-color: #000;
        padding: 0 10px;
    }

    .search-mobile-container {
        max-width: 250px;
        height: 90%;
        height: 50px;
        background-color: #6161616b;
        border-radius: 50px;
    }

    .search-mobile-container input {
        width: 80%;
        height: 100%;
        background-color: transparent;
        border: none;
        outline: none;
        padding: 10px;
    }
    .search-mobile-container i {
        font-size: 1rem;
        color: #fff;
        cursor: pointer;
    }
}

@media(max-width: 350px) {
    .logo {
        gap: 0;
    }
    .logo i {
        font-size: 2.5rem;
    }

    .logo h1 {
        font-size: 1.2rem;
    }

    .search-container {
        width: 40px;
        height: 40px;
    }

    .menu-icon-container {
        width: 40px;
        height: 40px;
    }
    
}

.home-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-container video {
    width: 100%;
    height: auto;
}

.home-container video source {
    height: 300px;
}

.home-title-container {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
    position: absolute;
}

.home-title-container h1 {
    font-size: 3.5rem;
    color: #fff;
}

.home-title-container p {
    color: #fff;
}

.home-title-container button {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #9c0000;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
}

.home-title-container button:hover {
    background-color: #fff;
    color: #9c0000;
}

@media (max-width: 1150px) {
    .home-title-container h1 {
        font-size: 3rem;
    }

    .home-title-container p {
        font-size: 0.9rem;
    }
}

@media (max-width: 1080px) {    
    .home-title-container {
        gap: 10px;
    }

    .home-title-container h1 {
        font-size: 2.5rem;
    }

    .home-title-container p {
        font-size: 0.8rem;
    }
}

@media (max-width: 980px) {
    .home-title-container h1 {
        font-size: 2.5rem;
    }

    .home-title-container p {
        font-size: 0.8rem;
    }
}

@media (max-width: 920px) {
    .home-title-container h1 {
        font-size: 2rem;
    }

    .home-title-container p {
        font-size: 0.7rem;
    }
}

@media (max-width: 770px) {
    .home-title-container h1 {
        font-size: 1.8rem;
    }

    .home-title-container p {
        font-size: 0.6rem;
    }

    .home-title-container button {
        width: 120px;
        height: 30px;
        font-size: 0.6rem;
    }
}

@media (max-width: 685px) {
    .home-title-container h1 {
        font-size: 1.5rem;
    }

    .home-title-container p {
        font-size: 0.5rem;
    }
}

@media (max-width: 540px) {
    .home-title-container h1 {
        font-size: 1.3rem;
    }

    .home-title-container p {
        display: none;
    }

    .home-title-container button {
        width: 100px;
        height: 20px;
        font-size: 0.6rem;
    }
}

@media (max-width: 360px) {
    .home-title-container h1 {
        font-size: 1rem;
    }
}

.movies-container, .series-container {
    height: 50vh;
    padding: 50px 10px;
}

.movies-container h1, .series-container h1 {
    margin-left: 15px;
    color: #fff;
    cursor: pointer;
}

.movies-container h1:hover, .series-container h1:hover {
    color: #9c0000;
}

.movies-content, .series-content {
    overflow-x: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.movie-card, .series-card {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    position: relative;
}

.movie-card img, .series-card img {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    cursor: pointer;
    transition: .3s;
}
.movie-card:hover img, .series-card:hover img {
    transform: scale(1.1);
}

.movie-card a, .series-card a {
    width: 250px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 1;
    cursor: pointer;
    color: transparent;
    font-size: 3rem;
    transition: .3s;
}

.movie-card:hover a, .series-card:hover a {
    background-color: #6161616b;
    color: #9c0000;
    transform: scale(1.1);
}

.name {
    display: none;
}

.no-results {
    display: none;
    text-align: center;
    color: #fff;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #6161616b;
    margin-top: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.copyright {
    font-size: 0.8rem;
}

@media (max-width: 850px) {
    .movies-container, .series-container {
        height: 30vh;
        padding: 50px 10px;
    }
    
}
